body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
    font-size: 15px;
    color: #552a14;
    line-height: 1.6; /* Меж строчный интервал */
}

/* Для всех страниц */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Все заголовки */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: Neucha !important;
}


/* Контейнер */ 
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;     /* Выравнить по центру */
    
}

/* Интро - титульник */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Выравнять по центру */
    
    width: 100%;
    height: 100vh;      /* Вся динамич высота */
    
    background: url("../images/intro.png") center no-repeat; /* Фон + по центру + без повторов */
    background-size: cover; /* Чтобы занимало всё пространство*/
}

/* Шапка */
.header {
    width: 97%;
    max-width: 1280px;
    
    border-radius: 65px;
    box-shadow: 0 0 10px #444;  /* Тень */
    background-color: #ffd2bf;
    margin: 0 auto;
    
    position: fixed;
    top: 30px; /* положение от верха  */
    left: 0;
    right: 0;
    z-index: 1000; /* По верх всего*/
    
}

/* Шапка - положение элементов */
.header__top {
    height: 65px;
    
    display: flex; /* Отобразить в строку */
    justify-content: space-between;
    align-items: center; /* Вертикаль - по центру */
}

/* Шапка - логотип */
.header__logo {
    font-size: 14px;
    font-weight: 700; /* Вес - толщина */
    color: #552a14;
    height: inherit;    /* На всю высоту шапки*/
    display: inline-flex; /* Отобразить в строку */
    width: 200px;
}

/* Шапка - логотип - Текст*/
.header__logo a {    
    display: inline-block;
    align-self: center; /* Вертикаль - по центру */
    text-align: center;   /* Выравнивание - по левому краю */
    padding-left: 10px;
    
    color: #552a14;
    font-weight: 700; /* Вес - толщина */
    text-decoration: none; /* Убрать подчеркивание снизу*/
    transition: color 0.2s ease; /* Плавное отображение */
}

/* Шапка - логотип - Лого*/
.header__logo img {
    content: "";
    border: 2px #552a14 solid;
    
    border-radius: 100%;    /* Закругление краев */
    width: 52px; /* Сжатие картинки */
    height: 52px;
    margin: auto 0 auto 9px;  /* Отступ от края шапки */
    cursor: pointer;    /* Знак курсора при наведение */
}

/* Шапка - для слабовидящих */
.header__vision {
    box-sizing: inherit;
    font-size: 12px;
    font-weight: 700; /* Вес - толщина */
    color: #552a14;
    width: 170px;
    height: inherit;
    
    display: inline-flex; /* Отобразить в строку */
    /*justify-content: flex-end;*/
}

/* Шапка - для слабовидящих - Текст*/
.header__vision a {
    display: inline-block;
    align-self: center; /* Вертикаль - по центру */
    text-align: left;   /* Выравнивание - по левому краю */
    padding-right: 10px;
    
    color: #552a14;
    font-weight: 700; /* Вес - толщина */
    text-decoration: none; /* Убрать подчеркивание снизу*/
    transition: color 0.2s ease; /* Плавное отображение */
}

.header__top > div > a:hover { /* При наведение */
    color: #a99387; /* Цвет ссылки */
    transition: .2s; /* Плавное отображение*/
}

/* Шапка - для слабовидящих - Лого*/
.header__vision img {
    content: "";
    border: 2px black solid;
    
    border-radius: 100%;    /* Закругление краев */
    width: 52px; /* Сжатие картинки */
    height: 52px;
    padding: 3%;   /* отступ по краям от картинки до стенки */
    background-color: #c3edf0;
    margin: auto 9px auto 0;  /* Отступ от края шапки */
    cursor: pointer;    /* Знак курсора при наведение */
}


/* Шапка - навигация */
.nav {
    font-size: 15px;
    text-transform: uppercase; /* Текст в вверхнем регистре*/
    font-weight: 700;
}

/* Шапка - навигация - ссылки */
.nav__link {
    display: inline-block; /* Полоска */
    vertical-align: top;    /* Все шли в строку*/
    margin: 0 15px; /* Растояние между ссылками*/
    position: relative;
    
    color: #552a14;
    text-decoration: none; /* Убрать подчеркивание снизу*/
    
    /* Плавная смена цвета при наведение*/
    transition: color .2s linear;
}

/* Шапка - навигация - ссылки [Наведение] */
.nav__link::after {
    content: ""; /* Пустой элемент */
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0; /* Первоначально скрыть полосу*/
    
    background-color: #a99387; /* Цвет полоски */
    position: absolute; /* Позиция относительно ссылки */
    top: 100%;
    left: 0;
    z-index: 1;
    
    /* Плавное отображение*/
    transition: opacity .2s linear;
}

.nav__link:hover { /* При наведение */
    color: #a99387; /* Цвет ссылки */
}

.nav__link:hover::after { /* ОТОБРАЗИТЬ При наведение */
    opacity: 1;
}